//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 07 15:05:10 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_GREEN_O<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "VGA_GREEN_O<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_GREEN_O<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_GREEN_O<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "F4" LEVEL 1;
COMP "VGA_BLUE_O<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_BLUE_O<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_BLUE_O<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "B2" LEVEL 1;
COMP "VGA_BLUE_O<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_VS_O" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_HS_O" LOCATE = SITE "B11" LEVEL 1;
COMP "CLK_I" LOCATE = SITE "E3" LEVEL 1;
COMP "VGA_RED_O<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_RED_O<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_RED_O<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_RED_O<0>" LOCATE = SITE "A3" LEVEL 1;
TIMEGRP clk_wiz_0_inst_U0_clk_out1_clk_wiz_0 = BEL "h_sync_reg" BEL
        "v_sync_reg" BEL "vga_red_reg_0" BEL "vga_blue_reg_0" BEL
        "h_cntr_reg_dly_8" BEL "h_cntr_reg_dly_9" BEL "h_cntr_reg_dly_10" BEL
        "h_cntr_reg_dly_11" BEL "v_cntr_reg_dly_10" BEL "v_cntr_reg_dly_11"
        BEL "v_sync_reg_dly" BEL "h_sync_reg_dly" BEL "MOUSE_X_POS_REG_0" BEL
        "MOUSE_X_POS_REG_1" BEL "MOUSE_X_POS_REG_2" BEL "MOUSE_X_POS_REG_3"
        BEL "MOUSE_X_POS_REG_4" BEL "MOUSE_X_POS_REG_5" BEL
        "MOUSE_X_POS_REG_6" BEL "MOUSE_X_POS_REG_7" BEL "MOUSE_X_POS_REG_8"
        BEL "MOUSE_X_POS_REG_9" BEL "MOUSE_X_POS_REG_10" BEL
        "MOUSE_Y_POS_REG_0" BEL "MOUSE_Y_POS_REG_1" BEL "MOUSE_Y_POS_REG_2"
        BEL "MOUSE_Y_POS_REG_3" BEL "MOUSE_Y_POS_REG_4" BEL
        "MOUSE_Y_POS_REG_5" BEL "MOUSE_Y_POS_REG_6" BEL "MOUSE_Y_POS_REG_7"
        BEL "MOUSE_Y_POS_REG_8" BEL "MOUSE_Y_POS_REG_9" BEL
        "board_display_red_dly_0" BEL "enable_board_display_dly" BEL
        "mouse_cursor_green_dly_0" BEL "enable_mouse_display_dly" BEL
        "h_cntr_reg_0" BEL "h_cntr_reg_1" BEL "h_cntr_reg_2" BEL
        "h_cntr_reg_3" BEL "h_cntr_reg_4" BEL "h_cntr_reg_5" BEL
        "h_cntr_reg_6" BEL "h_cntr_reg_7" BEL "h_cntr_reg_8" BEL
        "h_cntr_reg_9" BEL "h_cntr_reg_10" BEL "h_cntr_reg_11" BEL
        "v_cntr_reg_0" BEL "v_cntr_reg_1" BEL "v_cntr_reg_2" BEL
        "v_cntr_reg_3" BEL "v_cntr_reg_4" BEL "v_cntr_reg_5" BEL
        "v_cntr_reg_6" BEL "v_cntr_reg_7" BEL "v_cntr_reg_8" BEL
        "v_cntr_reg_9" BEL "v_cntr_reg_10" BEL "v_cntr_reg_11" BEL
        "clk_wiz_0_inst/U0/clkout1_buf" BEL "Inst_MouseCtl/state_FSM_FFd1" BEL
        "Inst_MouseCtl/state_FSM_FFd2" BEL "Inst_MouseCtl/state_FSM_FFd3" BEL
        "Inst_MouseCtl/state_FSM_FFd4" BEL "Inst_MouseCtl/state_FSM_FFd5" BEL
        "Inst_MouseCtl/state_FSM_FFd6" BEL
        "Inst_MouseCtl/periodic_check_cnt_25" BEL
        "Inst_MouseCtl/periodic_check_cnt_24" BEL
        "Inst_MouseCtl/periodic_check_cnt_23" BEL
        "Inst_MouseCtl/periodic_check_cnt_22" BEL
        "Inst_MouseCtl/periodic_check_cnt_21" BEL
        "Inst_MouseCtl/periodic_check_cnt_20" BEL
        "Inst_MouseCtl/periodic_check_cnt_19" BEL
        "Inst_MouseCtl/periodic_check_cnt_18" BEL
        "Inst_MouseCtl/periodic_check_cnt_17" BEL
        "Inst_MouseCtl/periodic_check_cnt_16" BEL
        "Inst_MouseCtl/periodic_check_cnt_15" BEL
        "Inst_MouseCtl/periodic_check_cnt_14" BEL
        "Inst_MouseCtl/periodic_check_cnt_13" BEL
        "Inst_MouseCtl/periodic_check_cnt_12" BEL
        "Inst_MouseCtl/periodic_check_cnt_11" BEL
        "Inst_MouseCtl/periodic_check_cnt_10" BEL
        "Inst_MouseCtl/periodic_check_cnt_9" BEL
        "Inst_MouseCtl/periodic_check_cnt_8" BEL
        "Inst_MouseCtl/periodic_check_cnt_7" BEL
        "Inst_MouseCtl/periodic_check_cnt_6" BEL
        "Inst_MouseCtl/periodic_check_cnt_5" BEL
        "Inst_MouseCtl/periodic_check_cnt_4" BEL
        "Inst_MouseCtl/periodic_check_cnt_3" BEL
        "Inst_MouseCtl/periodic_check_cnt_2" BEL
        "Inst_MouseCtl/periodic_check_cnt_1" BEL
        "Inst_MouseCtl/periodic_check_cnt_0" BEL
        "Inst_MouseCtl/timeout_cnt_23" BEL "Inst_MouseCtl/timeout_cnt_22" BEL
        "Inst_MouseCtl/timeout_cnt_21" BEL "Inst_MouseCtl/timeout_cnt_20" BEL
        "Inst_MouseCtl/timeout_cnt_19" BEL "Inst_MouseCtl/timeout_cnt_18" BEL
        "Inst_MouseCtl/timeout_cnt_17" BEL "Inst_MouseCtl/timeout_cnt_16" BEL
        "Inst_MouseCtl/timeout_cnt_15" BEL "Inst_MouseCtl/timeout_cnt_14" BEL
        "Inst_MouseCtl/timeout_cnt_13" BEL "Inst_MouseCtl/timeout_cnt_12" BEL
        "Inst_MouseCtl/timeout_cnt_11" BEL "Inst_MouseCtl/timeout_cnt_10" BEL
        "Inst_MouseCtl/timeout_cnt_9" BEL "Inst_MouseCtl/timeout_cnt_8" BEL
        "Inst_MouseCtl/timeout_cnt_7" BEL "Inst_MouseCtl/timeout_cnt_6" BEL
        "Inst_MouseCtl/timeout_cnt_5" BEL "Inst_MouseCtl/timeout_cnt_4" BEL
        "Inst_MouseCtl/timeout_cnt_3" BEL "Inst_MouseCtl/timeout_cnt_2" BEL
        "Inst_MouseCtl/timeout_cnt_1" BEL "Inst_MouseCtl/timeout_cnt_0" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_9" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_8" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_7" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_6" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_5" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_4" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_3" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_2" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_1" BEL
        "Inst_MouseCtl/y_pos[11]_dff_13_0" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_10" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_9" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_8" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_7" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_6" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_5" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_4" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_3" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_2" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_1" BEL
        "Inst_MouseCtl/x_pos[11]_dff_12_0" BEL "Inst_MouseCtl/x_pos_10" BEL
        "Inst_MouseCtl/x_pos_9" BEL "Inst_MouseCtl/x_pos_8" BEL
        "Inst_MouseCtl/x_pos_7" BEL "Inst_MouseCtl/x_pos_6" BEL
        "Inst_MouseCtl/x_pos_5" BEL "Inst_MouseCtl/x_pos_4" BEL
        "Inst_MouseCtl/x_pos_3" BEL "Inst_MouseCtl/x_pos_2" BEL
        "Inst_MouseCtl/x_pos_1" BEL "Inst_MouseCtl/x_pos_0" BEL
        "Inst_MouseCtl/y_pos_9" BEL "Inst_MouseCtl/y_pos_8" BEL
        "Inst_MouseCtl/y_pos_7" BEL "Inst_MouseCtl/y_pos_6" BEL
        "Inst_MouseCtl/y_pos_5" BEL "Inst_MouseCtl/y_pos_4" BEL
        "Inst_MouseCtl/y_pos_3" BEL "Inst_MouseCtl/y_pos_2" BEL
        "Inst_MouseCtl/y_pos_1" BEL "Inst_MouseCtl/y_pos_0" BEL
        "Inst_MouseCtl/x_inc_7" BEL "Inst_MouseCtl/x_inc_6" BEL
        "Inst_MouseCtl/x_inc_5" BEL "Inst_MouseCtl/x_inc_4" BEL
        "Inst_MouseCtl/x_inc_3" BEL "Inst_MouseCtl/x_inc_2" BEL
        "Inst_MouseCtl/x_inc_1" BEL "Inst_MouseCtl/x_inc_0" BEL
        "Inst_MouseCtl/x_sign" BEL "Inst_MouseCtl/x_overflow" BEL
        "Inst_MouseCtl/y_overflow" BEL "Inst_MouseCtl/y_inc_7" BEL
        "Inst_MouseCtl/y_inc_6" BEL "Inst_MouseCtl/y_inc_5" BEL
        "Inst_MouseCtl/y_inc_4" BEL "Inst_MouseCtl/y_inc_3" BEL
        "Inst_MouseCtl/y_inc_2" BEL "Inst_MouseCtl/y_inc_1" BEL
        "Inst_MouseCtl/y_inc_0" BEL "Inst_MouseCtl/y_sign" BEL
        "Inst_MouseCtl/tx_data_7" BEL "Inst_MouseCtl/tx_data_6" BEL
        "Inst_MouseCtl/tx_data_5" BEL "Inst_MouseCtl/tx_data_4" BEL
        "Inst_MouseCtl/tx_data_3" BEL "Inst_MouseCtl/tx_data_2" BEL
        "Inst_MouseCtl/tx_data_1" BEL "Inst_MouseCtl/tx_data_0" BEL
        "Inst_MouseCtl/write_data" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/data_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/data_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/data_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/data_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/clk_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/clk_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/clk_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/clk_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/bit_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/bit_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/bit_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/bit_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_13" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_12" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_11" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_10" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_9" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_8" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_7" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_6" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_6" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_10" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_9" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_8" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_7" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_6" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_count_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/state_FSM_FFd2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/state_FSM_FFd3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/state_FSM_FFd1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/state_FSM_FFd4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/state_FSM_FFd5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_clk_s" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/read_data" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_clk_h" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_parity" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_7" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_6" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/rx_data_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_10" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_9" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_8" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_7" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_6" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_5" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_4" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_3" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_2" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_1" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/frame_0" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_data_s" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_data_h" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/err" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/tx_parity" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/load_tx_data" BEL
        "Inst_MouseDisplay/ydiff[3]_dff_5_1" BEL
        "Inst_MouseDisplay/ydiff[3]_dff_5_0" BEL
        "Inst_MouseDisplay/enable_mouse_display" BEL
        "Inst_BoardDisplay/xdiff[5]_dff_53_0" BEL
        "Inst_BoardDisplay/enable_display" BEL "Inst_MouseCtl/y_new" BEL
        "Inst_MouseCtl/x_new" BEL "Inst_MouseCtl/reset_periodic_check_cnt" BEL
        "Inst_MouseCtl/reset_timeout_cnt" BEL "Inst_MouseCtl/haswheel" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_clk_clean" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/clk_inter" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/ps2_data_clean" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/data_inter" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/load_rx_data" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_63clk_done" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_20us_done" BEL
        "Inst_MouseCtl/Inst_Ps2Interface/delay_100us_done" BEL
        "Inst_MouseDisplay/blue_out_3" BEL "Inst_BoardDisplay/green_out_3";
PIN clk_wiz_0_inst/U0/mmcm_adv_inst_pins<2> = BEL
        "clk_wiz_0_inst/U0/mmcm_adv_inst" PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "clk_wiz_0_inst/U0/mmcm_adv_inst_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_clk_wiz_0_inst_U0_clk_out1_clk_wiz_0 = PERIOD TIMEGRP
        "clk_wiz_0_inst_U0_clk_out1_clk_wiz_0" TS_sys_clk_pin * 1.08 HIGH 50%;
SCHEMATIC END;

